#clock
NET "clk"  LOC = "E3" | IOSTANDARD = "LVCMOS33";

NET "load" CLOCK_DEDICATED_ROUTE = FALSE;
NET "load"  LOC = "U9" | IOSTANDARD = "LVCMOS33";
NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rst"  LOC = "E16" | IOSTANDARD = "LVCMOS33";

NET "data<0>"  LOC = "E17" | IOSTANDARD = "LVCMOS33";
NET "data<1>"  LOC = "G13" | IOSTANDARD = "LVCMOS33";
NET "data<2>"  LOC = "C17" | IOSTANDARD = "LVCMOS33";
NET "data<3>"  LOC = "D18" | IOSTANDARD = "LVCMOS33";
NET "data<4>"  LOC = "E18" | IOSTANDARD = "LVCMOS33";
NET "data<5>"  LOC = "G14" | IOSTANDARD = "LVCMOS33";
NET "data<6>"  LOC = "P15" | IOSTANDARD = "LVCMOS33";
NET "data<7>"  LOC = "V11" | IOSTANDARD = "LVCMOS33";
NET "data<8>"  LOC = "V15" | IOSTANDARD = "LVCMOS33";
NET "data<9>"  LOC = "B13" | IOSTANDARD = "LVCMOS33";
NET "data<10>"  LOC = "F14" | IOSTANDARD = "LVCMOS33";
NET "data<11>"  LOC = "D17" | IOSTANDARD = "LVCMOS33";
NET "data<12>"  LOC = "U11" | IOSTANDARD = "LVCMOS33";
NET "data<13>"  LOC = "K2" | IOSTANDARD = "LVCMOS33";
NET "data<14>"  LOC = "E7" | IOSTANDARD = "LVCMOS33";
NET "data<15>"  LOC = "J3" | IOSTANDARD = "LVCMOS33";
NET "data<16>"  LOC = "J4" | IOSTANDARD = "LVCMOS33";
NET "data<17>"  LOC = "K1" | IOSTANDARD = "LVCMOS33";
NET "data<18>"  LOC = "E6" | IOSTANDARD = "LVCMOS33";
NET "data<19>"  LOC = "J2" | IOSTANDARD = "LVCMOS33";
NET "data<20>"  LOC = "G6" | IOSTANDARD = "LVCMOS33";
NET "data<21>"  LOC = "H4" | IOSTANDARD = "LVCMOS33";
NET "data<22>"  LOC = "H1" | IOSTANDARD = "LVCMOS33";
NET "data<23>"  LOC = "G1" | IOSTANDARD = "LVCMOS33";
NET "data<24>"  LOC = "G3" | IOSTANDARD = "LVCMOS33";
NET "data<25>"  LOC = "H2" | IOSTANDARD = "LVCMOS33";
NET "data<26>"  LOC = "G4" | IOSTANDARD = "LVCMOS33";
NET "data<27>"  LOC = "G2" | IOSTANDARD = "LVCMOS33";
NET "data<28>"  LOC = "F3" | IOSTANDARD = "LVCMOS33";
NET "data<29>"  LOC = "A13" | IOSTANDARD = "LVCMOS33";
NET "data<30>"  LOC = "A15" | IOSTANDARD = "LVCMOS33";
NET "data<31>"  LOC = "B16" | IOSTANDARD = "LVCMOS33";

NET "empty"  LOC = "T8" | IOSTANDARD = "LVCMOS33";
NET "full"  LOC = "R8" | IOSTANDARD = "LVCMOS33";

#I2S-JB
NET "SD"  LOC = "K16" | IOSTANDARD = "LVCMOS33";#7
NET "SCK"  LOC = "R16" | IOSTANDARD = "LVCMOS33";#8
NET "WS"  LOC = "T9" | IOSTANDARD = "LVCMOS33";#9
